<div class="listamensajesgral">
    <div class="desplegable">
        <ul>
            <li>Recibidos</li>
            <li>Enviados</li>
            <li>Nuevo Mensaje</li>
        </ul>
    </div>
    <table>    
        <tbody>
            <tr>
            <th>Remitente</th>
            <th>Destinatario</th>
            <th>Fecha</th>
            <th>Mensaje</th>
            </tr>
            <tr>
            <td>Remitente</td>
            <td>
                <ul>
                    <li>Facundo Adaro</li>
                    <li>Sergio Nicolas Rodriguez</li>
                    <li>Lucas Ponce</li>
                </ul>
            </td>
            <td>17/10/2022</td>
            <td>Este es un mensaje corto</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
            <td>Remitente</td>
            <td>
                <ul>
                    <li>Facundo Adaro</li>
                    <li>Sergio Nicolas Rodriguez</li>
                    <li>Lucas Ponce</li>
                </ul>
            </td>
            <td>17/10/2022</td>
            <td>Este es un mensaje corto</td>
            </tr>
        </tbody>
    </table>
</div>